In [2]:
import pandas as pd

In [3]:
result = pd.read_csv('result_2418.csv')

In [3]:
result_500 = pd.read_csv('result_500.csv')

In [27]:
forecast_2018 = result[(result['year']==2018)&(result['data_type']=='biomass_forecast')]

In [64]:
biomass_demand_2018 = result[(result['year']==2018)&(result['data_type']=='biomass_demand_supply')]
pellet_demand_2018 = result[(result['year']==2018)&(result['data_type']=='pellet_demand_supply')]

In [65]:
forecast_2018['value'] = 1.2*forecast_2018['value']
forecast_2018['year'] = 2019
pellet_demand_2018['value'] = 1.2*pellet_demand_2018['value'] 
biomass_demand_2018['value'] = 1.2*biomass_demand_2018['value']
pellet_demand_2018['year'] = 2019
biomass_demand_2018['year'] = 2019

C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecast_2018['value'] = 1.2*forecast_2018['value']
C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forecast_2018['year'] = 2019
C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pellet_demand_2018['value'] = 1.2*pellet_demand_2018['value']
C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biomass_demand_2018['value'] = 1.2*biomass_demand_2018['value']
C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pellet_demand_2018['year'] = 2019
C:\Users\olw04\AppData\Local\Temp\ipykernel_6628\745193734.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biomass_demand_2018['year'] = 2019

In [66]:
concated_df = pd.concat([result,forecast_2018,pellet_demand_2018,biomass_demand_2018])

In [67]:
concated_df.groupby(['year','data_type']).agg(set)

                                                                     source_index
year     data_type
2018     biomass_demand_supply  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...  \
         biomass_forecast       {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
         pellet_demand_supply   {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
2019     biomass_demand_supply  {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
         biomass_forecast       {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
         pellet_demand_supply   {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
20182019 depot_location         {2048, 1806, 1301, 1178, 1697, 546, 1698, 2343...
         refinery_location                          {1698, 1125, 1997, 1807, 433}

                                                                      destination
year     data_type
2018     biomass_demand_supply  {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...  \
         biomass_forecast       {nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
         pellet_demand_supply   {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...
2019     biomass_demand_supply  {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...
         biomass_forecast       {nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
         pellet_demand_supply   {0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...
20182019 depot_location         {nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
         refinery_location                              {nan, nan, nan, nan, nan}

                                                                            value
year     data_type
2018     biomass_demand_supply  {0.0, 1.25, -1.9099388737231493e-11, 6.5199401...
         biomass_forecast       {0.7028894567765782, 1.1254143795721312, 2.788...
         pellet_demand_supply   {0.0, 10497.876000001155, 1.6427748050773516e-...
2019     biomass_demand_supply  {0.0, 1.5, 0.46799999999999997, 1.807620719773...
         biomass_forecast       {1.0285107381571343, 2.122231430970139, 2.0076...
         pellet_demand_supply   {0.0, 8.049676317636035e-12, 15890.62799999999...
20182019 depot_location         {nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
         refinery_location                              {nan, nan, nan, nan, nan}

In [69]:
concated_df[concated_df['value']>=0.001]

         year              data_type  source_index  destination       value
30       2018       biomass_forecast             0          NaN    7.483670
31       2018       biomass_forecast             1          NaN   47.519392
32       2018       biomass_forecast             2          NaN   57.071377
33       2018       biomass_forecast             3          NaN   74.989417
34       2018       biomass_forecast             4          NaN   17.522164
...       ...                    ...           ...          ...         ...
5728197  2019  biomass_demand_supply          2367       2343.0  213.708000
5730615  2019  biomass_demand_supply          2368       2343.0   82.308000
5747541  2019  biomass_demand_supply          2375       2343.0  241.140000
5749959  2019  biomass_demand_supply          2376       2343.0  180.912000
5752377  2019  biomass_demand_supply          2377       2343.0   29.736000

[7750 rows x 5 columns]

In [70]:
remove_index = concated_df[((concated_df['data_type']=='biomass_demand_supply')|(concated_df['data_type']=='pellet_demand_supply'))&(concated_df['value']<=0.001)].index

In [71]:
 concated_df.drop(index=remove_index).to_csv('sumbimmision.csv',index=False)

In [73]:
submitted = pd.read_csv('sumbimmision.csv')

In [62]:
sample = pd.read_csv('waste_management/dataset/sample_submission.csv')

In [78]:
sample.groupby(['year','data_type']).agg('nunique')

                                source_index  destination_index  value
year     data_type
2018     biomass_demand_supply          2418                 21  10823
         biomass_forecast               2418                  0   2418
         pellet_demand_supply             21                  4     76
2019     biomass_demand_supply          2418                 21  10823
         biomass_forecast               2418                  0   2418
         pellet_demand_supply             21                  4     76
20182019 depot_location                   21                  0      0
         refinery_location                 4                  0      0

In [75]:
submitted.dtypes

year              int64
data_type        object
source_index      int64
destination     float64
value           float64
dtype: object

In [76]:
sample.dtypes

year                   int64
data_type             object
source_index           int64
destination_index    float64
value                float64
dtype: object

In [79]:
submitted.groupby(['year','data_type']).agg('nunique')

                                source_index  destination  value
year     data_type
2018     biomass_demand_supply          1426           25   1409
         biomass_forecast               2418            0   2418
         pellet_demand_supply             25            5     20
2019     biomass_demand_supply          1426           25   1409
         biomass_forecast               2418            0   2418
         pellet_demand_supply             25            5     20
20182019 depot_location                   25            0      0
         refinery_location                 5            0      0

In [25]:
result_500 = pd.read_csv('result_500_3_.csv')
result_500.groupby(['year','data_type']).agg('nunique')

                                source_index  destination  value
year     data_type
2018     biomass_demand_supply           469           28    446
         biomass_forecast                500            0    500
         pellet_demand_supply             28            5      6
20182019 depot_location                   25            0      0
         refinery_location                 5            0      0